@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');
.jersey-20-regular {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
  }